.education-card {
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 30px;
    width: 800px;
    border-left: 4px solid black;
    min-width: 500px;
    font-size: 20px;
}

.education-section-body{
    display: flex;
}

.education-card-title {
    font-weight: bold;
    font-size: 28px;
}

.certification-card {
    padding: 20px;
    font-size: 16px;
    border-radius: 8px;
    margin-bottom: 30px;
    width: 500px;
    min-width: 500px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);

    img {
        width: 500px;
        height: 310px;
    }
}

.certification-card:hover {
    background: rgba(255, 255, 255, 0.25); /* brighter */
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px rgba(255, 255, 255, 0.2);
  }

.education-card-subtitle {
    font-style: italic;
}