
.btn {
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }
  
  .btn-primary {
    background-color: #2a2a2a;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
  }
  
  .btn-primary:hover {
    background-color: black;
  }

  .btn-title {
      margin-left:4px;
  }