.skills-column-section {
    display: flex;
    flex-wrap: wrap;

}

.skills-column-section-wrapper {
    padding: 20px;
    width: 20.1%;
    min-width:300px;
    background-color: #EDEBE6;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    margin-right: 30px;
}

.skills-section-body {
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    margin-top: 20px;
  }
  
  .skill-block {
    padding: 8px;
    width: 120px;
    height: 100px;
    text-align: center;
    margin-left: 16px;
    border-radius: 8px;
    img {
      width: 96px;
      height: 96xpx;
    }
  }
  
  .skill-block-image {
      width: 60px;
      height: 60px;
  }

  .skill-block-title {
      font-size: 18px;
  }

  .skills-column-section-title {
      font-weight: bold;
      margin-bottom: 20px;

  }