.skills-column-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:56px;
}

.skills-column-section-wrapper {
    padding: 20px;
    width: 19%;
    min-width:200px;
    background-color: #EDEBE6;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    padding: 12px;
    border-radius: 12px;
    margin-right: 30px;
    position: relative;
}

.skills-ivy-plant {
    position: absolute;
    top: -14px;
    width: 140%;
    left: -37px;
}

.skills-section-body {
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    margin-top: 20px;
  }
  
  .skill-block {
    width: 100px;
    height: 100px;
    text-align: center;
    margin-left: 16px;
    border-radius: 8px;
    img {
      width: 90px;
    }
  }
  
  .skill-block-image {
      width: 60px;
      height: 60px;
  }

  .skill-block-title {
      font-size: 14px;
  }

  .skills-column-section-title {
      font-weight: bold;
      margin-bottom: 20px;
      position: absolute;
      top: 15px;
      z-index: 99;
      background-color: #EDEBE6;
      left: 32%;
  }