
.portfolio-main-body {
  display: flex;

  img {
  height: 750px;
  width: 380px;
  }
}

.portfolio-main-body-right {
  display: flex;
  font-size: 32px;

}

.box {
  width: 200px;
  height: 400px;
  display: flex;
  align-self: center; /* Anchor to center */
  align-items: center;
  justify-content: center;
  
  /* Use a very short transition for tracking so it feels fast */
  transition: transform 0.1s ease-out; 
  will-change: transform;
}

/* When the mouse leaves, we want a SLOW return to center */
.box:not(.active) {
  transition: transform 1.2s cubic-bezier(0.65, 0, 0.35, 1);
  transform: translateY(0) !important;
}

.box-up {
  /* clamp(min, preferred, max) */
  /* -140px is the limit so it doesn't cross the top of the 680px parent */
  transform: translateY(
    clamp(-140px, calc(var(--move-y) * 400px), 140px)
  );
}

.box-down {
  /* Inverted multiplier so it moves opposite to the 'up' boxes */
  transform: translateY(
    clamp(-140px, calc(var(--move-y) * -400px), 140px)
  );
}
.portfolio-skills { 
  background-color: #d4d888;
  
}

.portfolio-experience { 
  background-color: #dde5e7;
}

.portfolio-projects { 
  background-color: #f9e394;
}

.portfolio-education { 
  background-color: #f5beb9;
}